* {
    padding: 0px;
    margin: 0px;
}

#background-image {
    background-image: url(background.jpg); /* Link da imagem para plano de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: cover; /* Ocupar todo espaço onde foi aplicada a imagem */
    width: 100%; /* Ocupar 100% do width */
    height: 100%; /* Ocupar 100% do height */
}

h1 {
    color: white; /* Cor da fonte */
    font-family: 'Secular One', sans-serif;; /* Estilo da fonte */
    font-size: 30px; /* Tamanho da fonte */
    padding-top: 40px; /* Distância da fonte para o topo da página */
    padding-left: 1300px; /* Distância da fonte para o lado esquerdo da página */
}

#h2dados {
    color: white; /* Cor da fonte */
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-top: 100px; /* Distância do h2 para o header */
    margin-left: 474px; /* Distância do h2 para o lado esquerdo da página */
    font-size: 28px; /* Tamanho da fonte*/
}

form {
    opacity: 85%; /* Opacidade do form */
}

#fieldset1 {
    background-color: white; /* Cor do plano de fundo do fieldset */
    border-color: white; /* Cor da borda do fieldset */
    border-style: solid; /* Estilo da borda do fieldset */
    width: 650px; /* Largura da div */
    height: 320px; /* Altura da div */
    margin: 15px auto; /* Centralizar div */
    border-radius: 8px; /* Arredondamento da borda do fieldset */
}

#fieldset2 {
    background-color: white; /* Cor do plano de fundo do fieldset */
    border-color: white; /* Cor da borda do fieldset */
    border-style: solid; /* Estilo da borda do fieldset */
    width: 650px; /* Largura da div */
    height: 480px; /* Altura da div */
    margin: 15px auto; /* Centralizar div */
    border-radius: 8px; /* Arredondamento da borda do fieldset */
}

#h2linguagem {
    color: white; /* Cor da fonte */
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-top: 40px; /* Distância do h2 para o header */
    margin-left: 474px; /* Distância do h2 para o lado esquerdo da página */
    font-size: 28px; /* Tamanho da fonte*/
}

label {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-left: 35px; /* Distância do label para a borda do fieldset */
    font-size: 20px; /* Tamanho da fonte */
}

#inputtext {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-top: 50px; /* Distância do input para a borda do fieldset */
    width: 300px; /* Largura da caixa de digitação */
    padding-left: 6px; /* Espaçamento da caixa de digitação para o label */
}

#inputemail {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-top: 40px; /* Distância do input para o input de cima */
    width: 300px; /* Largura da caixa de digitação */
    padding-left: 6px; /* Espaçamento da caixa de digitação para o label */
}

#inputcel {
    font-family: 'Kurale', serif; /* Estilo da fonte */
    text-align: center; /* Centralizar texto do input */
    margin-top: 40px; /* Distância do input para o input de cima */
    width: 135px; /* Largura da caixa de digitação */
}

#inputdn {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    text-align: center; /* Centralizar texto do input */
    margin-top: 40px; /* Distância do input para o input de cima */
}

#check1 {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-top: 30px; /* Distância do input para o input de cima */
    padding-left: 6px; /* Espaçamento da caixa de digitação para o label */
}

.checks {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    margin-top: 16px; /* Distância do input para o input de cima */
    padding-left: 6px; /* Espaçamento da caixa de digitação para o label */
}

#seguir {
    background-color: #022c3f; /* Cor do fundo do botão */
    color: white; /* Cor da fonte do botão */
    font-family: 'Kurale', serif; /* Estilo da fonte */
    font-size: 14px; /* Tamanho da fonte */
    border: 1px solid;
    border-radius: 4px; /* Arredondamento da borda do botão */
    width: 80px; /* Largura do botão */
    height: 35px; /* Altura do botão */
    margin-top: 35px; /* Distância do botão para o item de cima */
    margin-left: 30px; /* Distância do botão para a borda esquerda do fieldset */
}

::placeholder {
    font-family: 'Kurale', serif;/* Estilo da fonte */
    font-size: 13.5px; /* Tamanho da fonte do placeholder */
}